<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%include header.ejs %>
    <div class=mydiv>
      164564964945654+98
    </div>
    <%include footer.ejs %>
  </body>
</html>
